// Global Variables
// Colors
$green-light: #b1de00;
$green-dark: #468902;
$dark-almost: #1b1c1c;

// Dimensions
$fixed-navbar-height: 56px;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: $dark-almost;
    color: lightgrey;
    font-family: "Cabin", sans-serif;
}

// Text
a {
    color: $green-dark;

    &:hover {
        color: $green-light;
    }
}

// Navbar
.navbar-spacer {
    height: $fixed-navbar-height;
}

.main-content-height {
    height: calc(100vh - $fixed-navbar-height);
}

// Simplebar
.simplebar-scrollbar::before {
    background-color: $green-light;
}
