.frame-card {
    min-height: 161px;
}

.strikeOrSpareAnnotation {
    position: absolute; 
    bottom: -0.1em; 
    margin: 0;

    &.left {
        left: 0.3em;
    }
    
    &.middle {
        left: 50%; 
        transform: translate(-50%, 0);
    }
    
    &.right {
        right: 0.3em;
    }
}