<template>
    <require from="resources/controls/person-score-card/person-score-card"></require>

    <div class="main-content-height" data-simplebar data-simplebar-auto-hide="false">
        <div class="container mt-5">
            <div class="row">
                <div class="col p-0">
                    <div class="alert alert-danger" role="alert" show.bind="validationMessage">
                        ${validationMessage}
                    </div>
                </div>
            </div>
        </div>
        <person-score-card></person-score-card>
    </div>
</template>