<template>
    <require from="resources/controls/person-score-card/person-score-card"></require>

    <div class="main-content-height" data-simplebar data-simplebar-auto-hide="false">
        <div ref="personScoreCardsHolder">
            <template repeat.for="id of personScoreCards">
                <person-score-card id.bind="id" delete-person-function.call="deletePersonScoreCardById(id)"></person-score-card>
            </template>
        </div>
        <div class="container mt-2">
            <div class="row">
                <div class="col p-0">
                    <button type="button" class="btn btn-light" click.delegate="addNewPersonScoreCard()">Add Person</button>
                </div>
            </div>
        </div>
    </div>
</template>